@use '../helpers/variables' as *;

.button {
  padding: 13px 47px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  min-width: 8.5rem;
  color: #fceddc;
  transition: 0.3s;

  box-shadow: 0 4px 5px $button-box-shadow-color,
    0 3px 3px $button-box-shadow-color;

  &:hover {
    transition: 0.3s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 2px 2px 1px #0000004d;
    transform: scale(0.98);
  }
}

.primary {
  background: #db6736;
  border: 2px solid #db6736;

  &:hover {
    color: #db6736;
    background: none;
    border: 2px solid #db6736;
  }
}

.secondary {
  color: #db6736;
  border: 2px solid #db6736;

  &:hover {
    background: #db6736;
    color: #fceddc;
  }
}
