@use '../helpers/variables' as *;

.vertical-line {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6%;
    width: 2px;
    height: 112%;
    background: $vertical-line-bg-color;
  }

  &::before {
    left: 0;
    margin-left: -17px;
  }

  &::after {
    right: 0;
    margin-right: -48px;
  }
}
