@use '../helpers' as *;

html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $min-width;
  min-height: $min-height;
  font-family: $font-family;
  color: $primary-color;
  background-color: $primary-bg-color;
  width: 100vw;
  height: 100vh;
  background: url('@/assets/dog-bg.png') center/100% 100% no-repeat;
  line-height: $line-height;
  overflow-x: hidden;
  animation: loadStartScreen 1.5s ease-in-out;

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #d1754e;
    box-shadow: inset 0 0 6px #00000066;
  }

  &::-webkit-scrollbar-track-piece {
    background: #dbf7f8;
  }
}
