@use '../helpers' as *;

.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 1.3rem;

  @include media(large) {
    justify-content: flex-end;
  }

  @include media(large-xl) {
    font-size: 1rem;
  }

  &__navigation {
    margin-left: 11%;

    @include media(large-xl) {
      margin-left: 2%;
    }

    @include media(large) {
      margin-left: 0%;
      margin-bottom: 50px;
    }

    ul {
      font-family: 'Exo', sans-serif;
      text-transform: uppercase;
      display: flex;
      justify-content: flex-end;
      max-width: 1500px;

      li {
        list-style: none;
        position: relative;
        padding: 16px 55px 0;
        transition: 0.3s ease;

        @include media(large-xl) {
          padding: 16px 35px 0;
        }

        @include media(large) {
          padding: 16px 20px 0;
        }

        &:active {
          transform: scale(0.95);
          transition: 0.3s ease;
        }

        a {
          text-decoration: none;
          text-shadow: 0 0 0 #be6037, 0 0 0 #9b4724, 0 0 0 #be6037;
          font-weight: bold;
          letter-spacing: 0.02rem;
          box-shadow: 1px 5px 10px -5px black;
          padding: 15px 41px;
          cursor: pointer;
          background-color: #bd5a31;
          color: #fceddc;
          transition: 0.3s ease;
        }

        &:hover {
          a {
            background: #dbf7f8;
            color: #bd5a31;
            text-shadow: none;
            transition: 0.3s ease;

            &:active {
              color: #9c2f00;
              transition: 0.3s ease;
            }
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: flex-end;

    @include media(large) {
      margin-left: 48px;
      margin-bottom: 50px;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }

    @include media(medium-xl) {
      margin-bottom: 0;
    }

    &_phone {
      margin-bottom: 6px;

      @include media(large) {
        margin-top: 12px;
      }
    }

    .contacts {
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 20px;

          @include media(large) {
            margin-top: 20px;
          }
        }

        &:hover {
          transform: scale(1);

          .contacts {
            &__caption {
              transform: scale(1.05);
              transition: 0.3s ease;

              &_whats-app {
                color: #16813e;
              }

              &_viber {
                color: #271961;
              }

              &_phone {
                transform: scale(1);
              }
            }

            &__phone {
              transition: 0.3s ease;
              transform: scale(1.02);
            }
          }

          .icon {
            transition: 0.3s ease;
            transform: scale(1.9);
          }
        }

        .icon {
          margin-bottom: 10px;
          transition: 0.3s ease;
        }
      }

      &__caption {
        text-decoration: none;
      }

      &__phone {
        color: #bd5a31;
        text-decoration: none;
        font-weight: bold;
        margin: 0;
        font-size: 1.5rem;
        transition: 0.3s ease;

        @include media(large-xl) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
