@use '../helpers/variables' as *;

.header {
  margin-right: 10%;
  font-size: 1.3rem;

  .navigation {
    ul {
      font-family: 'Exo', sans-serif;
      text-transform: uppercase;
      display: flex;
      justify-content: flex-end;
      max-width: 1500px;

      li {
        list-style: none;
        position: relative;
        padding: 16px 55px 0;

        a {
          transition: 0.3s ease;
          text-decoration: none;
          text-shadow: 0 0 0 #be6037, 0 0 0 #9b4724, 0 0 0 #be6037;
          font-weight: bold;
          letter-spacing: 0.02rem;
          transition: 0.3s ease;
          box-shadow: 1px 5px 10px -5px black;
          padding: 15px 41px;
          cursor: pointer;
          background: #dbf7f8;
          color: #bd5a31;

          &:active {
            color: #dbf7f8;
            transform: scale(0.98);
          }
        }

        &:hover {
          a {
            background-color: #bd5a31;
            color: #fceddc;
            text-shadow: none;

            &:active {
              color: #dbf7f8;
              transform: scale(0.98);
            }
          }
        }
      }
    }
  }
}
