@use '../helpers/variables' as *;

.modal-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  margin: auto;
  padding: 6px 0 15px;
  border: $modal-delete-border;
  border-radius: 5px;

  &__header {
    text-align: center;
    width: 100%;
    padding-bottom: 9px;
    border-bottom: $modal-delete-border;
  }

  &__content {
    margin: 10px 0 12px;
  }

  .footer-buttons {
    &_value {
      &_yes {
        margin-right: 20px;
        background-color: $modal-delete-button-yes-bg-color;

        &:hover {
          background-color: $modal-delete-button-yes-hover-bg-color;
        }
      }

      &_no {
        background-color: $modal-delete-button-no-bg-color;

        &:hover {
          background-color: $modal-delete-button-no-hover-bg-color;
        }
      }
    }
  }
}
