@use '../helpers/variables' as *;

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #a3a3a3a8;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 575px;
    padding: 25px;
    border: $modal-border;
    border-radius: 5px;
    background: $modal-bg-color;
    transform: translate(-50%, -50%);

    &__delivery-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 27px;
      padding: 0;
      border: none;
    }

    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__input {
      width: fit-content;
      margin-top: 5px;

      &_value {
        &_count {
          width: 25%;
        }
      }
    }

    &__button {
      width: fit-content;

      &_close {
        position: absolute;
        right: 2%;
        top: 2%;
        padding: 0 25px;
        font-size: 2.3rem;
        background-color: $modal-close-btn-bg-color;

        &:hover {
          background-color: $modal-close-btn-hover-bg-color;
        }
      }

      &_add,
      &_update {
        width: 140px;

        &:disabled {
          background-color: #a7a7a7;
        }
      }

      &_add {
        background-color: $modal-add-btn-bg-color;

        &:hover {
          background-color: $modal-add-btn-hover-bg-color;
        }
      }

      &_update {
        background-color: $modal-update-btn-bg-color;

        &:hover {
          background-color: $modal-update-btn-hover-bg-color;
        }
      }
    }
  }
}
