$colors: (
  grey: (
    100: #fafafa,
    500: #5f5f5f,
    600: #616161,
    900: #00000036,
  ),
  red: (
    600: #e20000,
    700: #d10101,
  ),
  orange: (
    600: #ff9900,
    700: #ec8e00,
    900: #bd5a31,
  ),
  light-blue: (
    300: #0099de,
    400: #008ecf,
  ),
  green: (
    300: #0cb937,
    400: #0dac35,
  ),
  purple: (
    200: #ea83ff,
    700: #97479b,
  ),
  black: #000000,
  white: #ffffff,
  transparent: #ffffff00,
);
